{{posted_stuff}}<br/>

<div class="jumbotron">
  <h1 class="display-4">{{ stock.companyName }} ({{stock.symbol}})</h1>
  <hr class="my-4">
  <p>
  	<strong>Latest Price:</strong> ${{stock.latestPrice}}<br/>
	<strong>Exchange:</strong> {{stock.primaryExchange}}<br/>
	<strong>Previous Close:</strong> ${{stock.previousClose}}<br/>
	<strong>YTD Change:</strong> {{stock.ytdChange}} {{changeYTD}}

	{{!--
		{{stuff2}}<br/>
		{{#each stock}}
			{{@key}} | {{this}} <br/>
		{{/each}}
	--}}

	<br/>
	<br/>
	I am showing this here just as a learning tool/reference: <br/>
	{{stuff2}}
  </p>
</div>

	
